@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


@keyframes scrollGallery {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scroll-gallery {
  animation: scrollGallery 10s linear infinite;
}